.wrapperFilterButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.04vw;
  padding: 0;
  flex-wrap: wrap;
  margin-top: 3.6vw;
}
.filterItem {
  width: 11.88vw;
  height: 3.13vw;
  border-radius: 2.6vw;
  border: 2px solid #08428f;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
}
.filterItem.active {
  background: #ed008c;
  border: none;
}
.filterItem p {
  font-size: 1.15vw;
  color: #08428f;
  position: relative;
  top: 0;
}
.filterItem.active p {
  color: #fff;
}
