.titleStage3 {
  text-align: center;
  font-size: 3.13vw;
  line-height: 0.9;
  color: #08428f;
  margin-top: 2.08vw;
  letter-spacing: 0;
  font-family: var(--font-PloniMaccabiMLv2AAA);
  font-weight: 900;
}
